[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-constance"]
	path = vendor-local/src/django-constance
	url = git://github.com/comoga/django-constance
